@using System.Data.SqlClient;
@using System.Data;
@using HairSalon_Website;
@{
    // Log In Checker ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    User userLoggedIn = (User)Session["HairSalonUser"];

    if (Session["HairSalonUser"] == null || userLoggedIn.UserType == "Customer")
    {
        Response.Redirect("~/login.cshtml");
    }
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    List<User> stylists = DatabaseControl.ReturnStylists();
    string stylistAdded = null;

    List<Category> categories = DatabaseControl.ReturnCategories();
    int styleAdded = 0;

    if (IsPost)
    {
        if (Request.Form["SubmitStylist"] != null)
        {
            Validation.Add("firstname", Validator.Required("Please Enter Stylist First Name"));
            Validation.Add("surname", Validator.Required("Please Enter Stylist Surname"));
            Validation.Add("mobilenumber", Validator.Required("Please Enter Stylist Mobile Number"));
            Validation.Add("email", Validator.Required("Please Enter Stylist Email"));
            Validation.Add("password", Validator.Required("Please Enter Stylist Password"));
            Validation.Add("confirmpassword", Validator.Required("Please Confirm Stylist Password"), Validator.EqualsTo("password", "Password must match previous"));

            if (Validation.IsValid())
            {
                stylistAdded = DatabaseControl.InsertStylist(Request.Form["firstname"], Request.Form["surname"], Request.Form["mobilenumber"], Request.Form["email"], Request.Form["password"]);
                stylists = DatabaseControl.ReturnStylists();
            }

            if (stylistAdded == "0")
            {

            }
        }

        if (Request.Form["SubmitStyle"] != null)
        {
            Validation.Add("CategoryName", Validator.Required("Please Enter Style Name"));
            Validation.Add("Length", Validator.Required("Please Enter Style Duration"));

            if (Validation.IsValid())
            {
                styleAdded = DatabaseControl.InsertCategory(Request.Form["CategoryName"], Convert.ToDouble(Request.Form["Length"]));
                categories = DatabaseControl.ReturnCategories();
            }

            if (styleAdded == 1)
            {

            }
        }

        if (Request.Form["DeleteStyle"] != null)
        {
            DatabaseControl.DeleteItem(Request.Form["StyleToDelete"], "Style");
            categories = DatabaseControl.ReturnCategories();
        }

        if (Request.Form["DeleteStylist"] != null)
        {
            DatabaseControl.DeleteItem(Request.Form["StylistToDelete"], "Stylist");
            stylists = DatabaseControl.ReturnStylists();
        }

    }
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DoOrDye &mdash; Manage Stylists/Styles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Toastr Style Sheet -->
    <link rel="stylesheet" href="css/toastr.min.css">

    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>
<body>

    <header role="banner" id="fh5co-header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <img class="navbar-brand" href="~/adminhub.cshtml" src="~/images/header.png" />
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/login.cshtml"><span>Log Out</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section id="fh5co-contact" data-section="contact" style="background-image: url(images/layerbackground2.png);" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Manage Stylists</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Add or Remove Stylists</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-6 to-animate">
                    <h3>Stylists</h3>
                    @foreach (User stylist in stylists)
                    {
                        <div class="col-md-4 col-sm-6 col-xxs-12">
                            <div class="fh5co-project-item">
                                <img src="images/work_1.jpg" alt="Image" class="img-responsive">
                                <div class="fh5co-text">
                                    <h2>@stylist.UserFirstName @stylist.UserSurname</h2>
                                </div>
                                <div class="form-group text-center">
                                    <form id="deleteform" method="post">
                                        <button class="btn btn-primary btn-sm" name="DeleteStylist" value="" type="submit"><i class="fh5co-intro-icon icon-close"></i></button>
                                        <input type="hidden" name="StylistToDelete" value="@stylist.UserID" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <form method="post">
                    <div class="col-md-6 to-animate">
                        <h3>Add New Stylist</h3>
                        <div class="form-group ">
                            <label for="firstname" class="">First Name</label>
                            <input id="firstname" class="form-control" placeholder="First Name" type="text" name="firstname">@Html.ValidationMessage("firstname")
                        </div>
                        <div class="form-group ">
                            <label for="surname" class="">Surname</label>
                            <input id="surname" class="form-control" placeholder="Surname" type="text" name="surname">@Html.ValidationMessage("surname")
                        </div>
                        <div class="form-group ">
                            <label for="mobilenumber" class="">Mobile Number</label>
                            <input id="mobilenumber" class="form-control" placeholder="Mobile Number" type="text" name="mobilenumber">@Html.ValidationMessage("mobilenumber")
                        </div>
                        <div class="form-group ">
                            <label for="email" class="">Email</label>
                            <input id="email" class="form-control" placeholder="Email" type="email" name="email">@Html.ValidationMessage("email")
                        </div>
                        <div class="form-group ">
                            <label for="password" class="">Password</label>
                            <input id="password" class="form-control" placeholder="Password" type="password" name="password">@Html.ValidationMessage("password")
                        </div>
                        <div class="form-group ">
                            <label for="confirmpassword" class="">Confirm Password</label>
                            <input id="confirmpassword" class="form-control" placeholder="Confirm Password" type="password" name="confirmpassword">@Html.ValidationMessage("confirmpassword")
                        </div>
                        <div class="form-group ">
                            <input class="btn btn-primary btn-lg" value="Add Stylist" name="SubmitStylist" type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="slant"></div>
    </section>

    <section id="fh5co-work" data-section="work" style="background-image: url(images/layerbackground2.png);" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Manage Styles</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Add or Remove Styles</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-6 to-animate">
                    <h3>Styles</h3>
                    @foreach (Category category in categories)
                    {
                        <div class="col-md-4 col-sm-6 col-xxs-12">
                            <div class="fh5co-project-item">
                                <img src="~/images/work_1.jpg" alt="Image" class="img-responsive">
                                <div class="fh5co-text">
                                    <h2>@category.Name</h2>
                                </div>
                                <div class="form-group text-center">
                                    <form id="deleteform" method="post">
                                        <button class="btn btn-primary btn-sm" name="DeleteStyle" value="" type="submit"><i class="fh5co-intro-icon icon-close"></i></button>
                                        <input type="hidden" name="StyleToDelete" value="@category.ID" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <form method="post">
                    <div class="col-md-6 to-animate">
                        <h3>Add New Style</h3>
                        <div class="form-group">
                            <label for="name" class="">Name</label>
                            <input id="name" class="form-control" placeholder="Name" type="text" name="CategoryName" value="">@Html.ValidationMessage("CategoryName")
                        </div>
                        <div class="form-group">
                            <label for="length" class="">Length</label>
                            <input id="length" class="form-control" placeholder="Length" type="text" name="Length" value="">@Html.ValidationMessage("Length")
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-lg" name="SubmitStyle" value="Add Style" type="submit">
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="slant"></div>
    </section>

    <footer id="footer" role="contentinfo">
        <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
        <div class="container">
            <div class="">
                <div class="col-md-12 text-center">
                    <p>&copy; Elate Free HTML5. All Rights Reserved. <br>Created by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Images: <a href="http://pexels.com/" target="_blank">Pexels</a>, <a href="http://plmd.me/" target="_blank">plmd.me</a></p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Counter -->
    <script src="js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="js/google_map.js"></script>
    <!-- Toastr Notifications -->
    <script src="js/toastr.min.js"></script>

    <!--My JS Code-->
    <script src="~/js/editform.js"></script>

    <!-- Main JS (Do not remove) -->
    <script src="js/main.js"></script>
</body>
</html>
